body {
  margin:20px;
}

.layout {
  display: grid;
    grid-template-areas:
    "title title"
    "description1 description1"
    "bump_chart bump_chart"
    "description2 description3"
    "marriage_div_button marriage_div_button"
    "map_chart bar_chart"
    "description4a description4b"
    "heatmap_chart heatmap_chart"
    "description5a description5b"
    "spine_chart stacked_bar_chart"
    "description6 description7"
    "isotype_chart lollipop_chart"
    "credits credits";
    
  grid-template-columns: 1fr 1fr; /* 12 equal columns */
  gap: 20px;
}

.layout > * {
  padding:30px 30px 14px 30px;
  border-radius: 20px;
}

.title {
  grid-area:title;
  justify-self:center;
  background-color:transparent;
  transform: translateX(-10px);

}

.description1 {
  grid-area:description1;
  justify-self:center;
}

.bump_chart {
  grid-area:bump_chart;
  justify-self:center;
}

.description2 {
  grid-area:description2;
  justify-self:end;
}

.description3 {
  grid-area:description3;
  justify-self:start;
}

.marriage_div_button {
  padding-top:5px;
  grid-area:marriage_div_button;
  justify-self:center;
}

.map_chart {
  grid-area:map_chart;
  justify-self:end;

}

.bar_chart {
  grid-area:bar_chart;
  justify-self:start;
}

.description4a {
  grid-area:description4a;
  justify-self:end;
}

.description4b {
  grid-area:description4b;
  justify-self:start;
}

.heatmap_chart {
  grid-area:heatmap_chart;
  justify-self:center;
}

.description5a {
  grid-area:description5a;
  justify-self:end;
}

.description5b {
  grid-area:description5b;
  justify-self:start;
}

.spine_chart {
  grid-area:spine_chart;
  justify-self:end;
}

.stacked_bar_chart {
  grid-area:stacked_bar_chart;
  justify-self:start;
}

.description6 {
  grid-area:description6;
  justify-self:end;
}

.description7 {
  grid-area:description7;
  justify-self:start;
}

.isotype_chart {
  grid-area:isotype_chart;
  justify-self:end;
}

.lollipop_chart {
  grid-area:lollipop_chart;
  justify-self:start;
}

.credits {
  grid-area:credits;
  justify-self:center;
} 